{% extends "base.html" %}
{% block content %}
    <h1>Home Page</h1>
    <p>A fictional but fun website  dveloped to highlight the talents of Harvey and his hairy crew, and my burgeoning talents as a Full Stack Developer. It was written with python, using the Flask framework and was deployed to Heroku.I hope you enjoy looking at as much as I have enjoyed creating it.</p>
    <p>You can visit my Github repository <a href="https://github.com/ConacBreslin?tab=repositories" target="_blank">here.</a></p>
{% endblock %}